* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Mukta', sans-serif;
    list-style: none;
}

body {
    background-color: lightgrey;
}

.mainContainer {
    background-color: lightgray;
    border-radius: 10px;
    margin: 1rem;
    height: 97vh;

}

h1 {
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 200px 200px;
}

.categories {
    padding: 1rem;
    border: solid 3px aquamarine;
    border-radius: 10px;
    margin: 1.5rem;
    text-align: center;
    background-color: whitesmoke;

}

li a {
    text-decoration: none;
}